<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.datasource.annotation.trade.domain.mapper.TradeMapper">
    <insert id="save">
    INSERT  INTO t_trade (trade_id, order_id,gmt_created, goods_subject,org_id)
    VALUES (#{tradeId}, #{orderId},#{gmtCreated}, #{goodsSubject},#{orgId})
</insert>
</mapper>

